.movieContainer {
  display: flex;
  background-color: black;
  color: white;
  height: 103vh;
  padding-top: 40px;

  .image {
    width: 400px;
    height: 600px;
    margin-right: 20px;
  }

  .rate {
    background-color: black;
    padding: 5px;
  }
}
